.chat-wrap {
  border: 1px solid #e1ebf1;
  display: flex;
  min-height: 100vh;
  .list-wrap {
    border-right: 1px solid #e1ebf1;
    max-width: 24%;
    width: 100%;

    .controls-wrap {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;

    }

    .add-chat-btn {
      min-width: 20px;
    }

    .chat-list {
      max-height: calc(100vh - 55px);
      overflow: auto;
      padding: 0 5px;
      &::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: $linesColor;
      }

      &::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #fff;
      }

    }

    .chat {
      align-items: center;
      border-radius: 16px;
      display: flex;
      height: 100%;
      max-height: 70px;
      padding: 10px;
      position: relative;

      &:hover {
        background: $userMessageBg;
      }

      &.active {
        background: $checkedChatBg;

        .last-msg-date {
          color: #fff;
        }

        .own-msg {
          color: $goldColor;
        }

        .name {
          color: #fff;
        }

        .last-msg {
          color: #fff;
        }
      }

      .last-msg-date {
        color: $additionalTextColor;
        font-size: $controlFz;
        line-height: $controlLh;
        position: absolute;
        right: 10px;
        top: 15px;
      }

      .own-msg {
        color: $mainTextColor;
      }

      .unread-msg-count {
        align-items: center;
        background: $orange;
        border-radius: 50%;
        bottom: 15px;
        color: #fff;
        display: flex;
        font-size: $mainFz;
        height: 20px;
        justify-content: center;
        line-height: 10px;
        position: absolute;
        right: 10px;
        width: 20px;
        padding-bottom: 2px;
      }

      .img {
        background: $orange;
        border-radius: 50%;
        height: 50px;
        margin-right: 10px;
        width: 50px;
      }

      .name {
        color: $mainTextColor;
        font-size: $titleFz;
        font-weight: 600;
        line-height: $titleLh;
        margin-bottom: 5px;
      }

      .last-msg {
        color: $additionalTextColor;
        font-size: $subTitleFz;
        line-height: $subTitleLh;
      }
    }
  }

  .content-wrap {
    position: relative;
    max-width: 76%;
    padding: 10px 20px;
    width: 100%;

    .header {
      border-bottom: 1px solid $linesColor;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .chat {
        align-items: center;
        cursor: pointer;
        display: flex;

        .name {
          color: $mainTextColor;
          font-size: $titleFz;
          font-weight: 600;
          line-height: $titleLh;
        }

        .img {
          background: $orange;
          border-radius: 50%;
          height: 40px;
          margin-right: 10px;

          width: 40px;
        }
      }


    }

    .content {

      height: 100%;
      padding-top: 80px;
      max-height: calc(100vh - 140px);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: $linesColor;
      }

      &::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #fff;
      }

      .message-date {
        z-index: 2;
        position: absolute;
        top: 100px;
        font-size: $titleFz;
        line-height: $titleFz;
        font-weight: 600;
        color:$orange;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .messages {
        padding-bottom: 10px;
        padding-right: 10px;
        .message {
          border-radius: 7px;
          margin-bottom: 10px;
          max-width: 60%;
          padding: 10px;
          position: relative;
          width: max-content;

          .text {
            color: $mainTextColor;
            font-size: $mainFz;
            line-height: $mainFz;
            margin: 0;
          }

          .info {
            align-items: center;
            bottom: 8px;
            display: flex;
            position: absolute;
            right: 8px;

            .time {
              color: $orange;
              font-size: $controlFz;
              line-height: $controlLh;
              margin-right: 3px;
              margin-top: 5px;
            }
          }

          &.own {
            background: $userMessageBg;
            border-bottom-right-radius: 0;
            margin-left: auto;
          }

          &.other {
            background: $otherMessageBg;
            border-top-left-radius: 0;
            margin-right: auto;
          }
        }
      }
    }
    .controls {
      max-height: 60px;
      display: flex;
      align-items: center;
      height: 100%;
      border-top: 1px solid #e1ebf1;
      padding: 10px;
      margin-bottom: auto;
    }
  }
}

