@import 'reset';

body {
  font-family: 'Bona Nova', serif;
  height: 100%;
}

#root,
.app {
  height: 100%;
}



$orange: #ee9086;
$mainTextColor: #393f54;
$additionalTextColor: #9fb0b2;
$linesColor: #e1ebf1;
$warningColor: #f80000;
$goldColor: #ffd700;
$checkedChatBg: rgba(108, 104, 116, 0.5);
$userMessageBg: #e1ebf1;
$otherMessageBg: rgba(108, 104, 116, 0.1);
$mainFz: 18px;
$mainLh: 22px;
$mainShadow: 0 0 6px rgba(0, 0, 0, 0.14);

%defaultTextSize {
  font-size: $mainFz;
  line-height: $mainLh;
}

.warning {
  color: $warningColor;
}

//Pages
.chat-wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.profile-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 60px 0;

  h3 {
    text-align: center;
  }

  .img-wrap {
    align-items: center;
    background: #e1ebf1;
    border-radius: 50%;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
  }

  .profile {
    max-width: 320px;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .field-name {
    @extend %defaultTextSize;
    color: $mainTextColor;
    cursor: pointer;
    margin: 0;
    position: relative;

    &:hover::after {
      background: url('../static/img/pencil.svg');
      background-size: cover;
      content: '';
      height: 18px;
      position: absolute;
      right: -30px;
      top: 0;
      width: 18px;
    }
  }

  .field-value {
    @extend %defaultTextSize;
    color: $additionalTextColor;
    margin: 0;
  }

  .sidebar {
    align-items: center;
    border-right: 1px solid #eaeaea;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
  }
}

.login-wrap,
.signup-wrap {
  margin: 50px auto;
  padding: 30px;

  h1 {
    color: $mainTextColor;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 20px;
    text-align: center;
  }

  .link {
    display: block;
    text-align: center;
  }

  .button {
    margin-bottom: 20px;
    margin-top: 38px;
  }
}

.error-page-wrap {
  align-items: center;
  background: url('../static/img/error_page_bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .title {
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .message {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
  }
}

//Components
.input-wrap {
  margin-bottom: 20px;

  .label {
    color: $additionalTextColor;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 0 16px;
  }

  .input {
    align-items: center;
    background: #fff;
    border: 1px solid #e1ebf1;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    height: 40px;
    line-height: 22px;
    max-width: 280px;
    padding: 0 16px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .error {
    color: $warningColor;
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 0 16px;

    &.visible {
      display: inline;
    }
  }
}

.button {
  @extend %defaultTextSize;
  align-items: center;
  background: #ee9086;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 280px;
  width: 100%;

  &:hover {
    box-shadow: none;
  }
}

.arrow-button {
  align-items: center;
  background: $orange;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 28px;

  &.toLeft {
    transform: rotate(180deg);
  }
}

//Common
.form {
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  max-width: 340px;
  width: 100%;
}

.nav-list {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-around;
  list-style: none;
  margin: 20px auto;
  max-width: 500px;
  padding: 0;

  .link {
    font-size: 18px;
    line-height: 22px;
  }
}

.link {
  color: $orange;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.warning {
  color: $warningColor;
}
